<template>
	<div>
		<el-table v-loading="loading" :data="list" style="width: 50%">
			<el-table-column prop="name" label="姓名" width="width">
			</el-table-column>
			<el-table-column
				header-align="center"
				align="center"
				prop="age"
				label="年龄"
			>
			</el-table-column>
			<el-table-column header-align="center" align="center" label="操作">
				<template slot-scope="scope">
					<el-button
						@click="updateData(scope.row)"
						type="text"
						size="small"
						>更新</el-button
					>
					<el-button
						@click="deleteData(scope.row.name)"
						type="text"
						size="small"
						>删除</el-button
					>
				</template>
			</el-table-column>
		</el-table>
		<el-input v-model="name" placeholder=""></el-input>
		<el-input v-model="age" placeholder=""></el-input>
		<el-button @click="insertData">insertData</el-button>
		<el-button @click="deleteData">deleteData</el-button>
	</div>
</template>

<script>
// import md5 from 'md5'

export default {
	data() {
		return {
			name: '',
			age: '',
			list: [],
			loading: false,
		}
	},
	created() {
		// this.fetchData()
		// this.testRobotConnect()
		this.getTAPD()
	},
	methods: {
		/* eslint-disable */
		getTAPD() {
			const url = '/api/tapd/getAliveData'

			this.$http.post(url).then(res => {
				if(res.data.code === 0) {
					this.testRobotConnect(res.data.data)
				}
			})
		},
		// 查
		fetchData() {
			this.loading = true
			this.$http
				.post('/api/user/getAllUsers')
				.then((res) => {
					if (res.data.code === 0) {
						this.list = res.data.data
					}
				})
				.catch((err) => {
					throw err
				})
				.finally(() => {
					this.loading = false
				})
		},
		// 增
		insertData() {
			this.$http
				.post('/api/insertUser', {
					name: this.name,
					age: this.age,
				})
				.then(async (res) => {
					if (res.data.code === 0) {
						await this.fetchData()
						this.$message({
							message: '数据添加成功！',
							type: 'success',
						})
					} else if (res.data.code === 1) {
						this.$message('Oops！已存在相同的数据~')
					}
				})
		},
		// 删
		deleteData() {
			this.$http
				.post('/api/deleteUser', {
					name: this.name,
				})
				.then(async (res) => {
					if (res.data.code === 0) {
						await this.fetchData()
						this.$message({
							message: '数据删除成功！',
							type: 'success',
						})
					} else if (res.data.code === 1) {
						this.$message({
							message: 'Oops！数据不存在~',
							type: 'warning',
						})
					}
				})
		},
		// 改
		updateData(data) {
			this.$http
				.post('/api/updateUserData', {
					name: this.name,
					age: this.age,
					id: data.id,
				})
				.then((res) => {
					if (res.data.code === 0) {
						this.fetchData()
						this.$message({
							message: '数据更新成功！',
							type: 'success',
						})
					} else {
						this.$message({
							message: 'Oops！数据更新失败~',
							type: 'warning',
						})
					}
				})
		},
		testRobotConnect(data) {
			let content = '', mentionedList = [], mobileList = []
			let userMap = new Map([
				['terrylin', '18038226907'],
				['terrylin林志海', '18038226907'],
				['timlu', '18573242958'],
				['timlu陆业全', '18573242958'],
				['bokunlin林柏坤', '13631539770'],
				['bokunlin', '13631539770'],
				['hebechen陈苗苗', '15983557571'],
				['hebechen', '15983557571'],
				['jacobli李杨', '18671778713'],
				['jacobli', '18671778713'],
				['jennyyang杨欣妍', '18773258050'],
				['jennyyang', '18773258050'],
				['parcoyou游柏皓', '13066822130'],
				['parcoyou', '13066822130'],
				['skyzhou周天逸', '17671224552'],
				['skyzhou', '17671224552'],
				['shanekang康同顺', '18137094058'],
				['shanekang', '18137094058'],
				['surezhang张家硕', '13049353701'],
				['surezhang', '13049353701'],
				['winniewu吴晶', '18124520407'],
				['winniewu', '18124520407']
			])
			
			let status = new Map([
				['in_progress', '处理中'],
				['unconfirmed', '待评估'],
				['TM_audited', '待回电'],
				['feedback', '待核实'],
				['reopened', '重新打开']
			])

			for (let index = 0; index < data.length; index++) {
				mentionedList = [...new Set(mentionedList.concat(data[index].current_owner.split(';').filter(item => item)))]
				content += `${data[index].title} - https://www.tapd.cn/23360971/bugtrace/bugs/view?bug_id=${data[index].id} \n当前处理人：${data[index].current_owner} 当前工单状态：${status.get(data[index].status)} \n\n`
			}

			mobileList = [...new Set(mentionedList.map(item => {
				if(userMap.get(item)) {
					return userMap.get(item)
				}
			}))]

			console.log('content', content, mentionedList, mobileList);

			// this.$http
			// 	.post('/robot', {
			// 		msgtype: 'text',
			// 		text: {
			// 			content,
			// 			mentioned_mobile_list: mobileList
			// 		}
			// 	})
			// 	.then((res) => {
			// 		console.log(res)
			// 	})
		},
	},
}
</script>

<style>
.el-input {
	width: 200px !important;
}
</style>
